*{box-sizing: border-box;}


body {
    margin: 0;
    padding: 0;
  }
 



/*----------------------------------------------------START TYPE SETTINGS---------------------------*/
h1 {
    
    text-align: left;
    position: relative;
    color:azure;
    Font-Family: 'Shrikhand', Cursive;
    font-size: 80px;
    top: 80px;
    left: 350px;
    width: 600px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }

  @keyframes backcolor{
    100%{
        background-position: 0 0;
    }
  }

  h2 {
    text-align: left;
    position: relative;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight:700;
    margin-bottom: 0px;
    padding:0 0 50px 0;
  }

  

  h3 {
    text-align: left;
    position: relative;
    color:firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight:700;
    margin-bottom: 50px;
  }

  h4 {
    text-align: center;
    position: relative;
    color:firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight:700;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
  }

  h6 {
    text-align: center;
    position: relative;
    color:azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight:700;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
  }

  h5{
    text-align: center;
    position: relative;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 50px 0px 40px;
  }

  h7{
    text-align: left;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p2 {
    text-align: left;
    position: relative;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight:700;
    margin-bottom: 0px;
    padding:0 0 50px 0;
  }

  p {
    margin: 0%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 0px 50px 0px;
  }


/*-------------------------------------------------------------END TYPE SETTINGS---------------------------*/





.map{
    padding: 50px 0;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;

}

.contact .content p{
   font-size: 36px;
   font-weight:500;
}


.contactForm{
    width: 500px;
    padding: 40px;
    margin: 133px 50px 40px 0px;
    background-color: darkcyan;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: azure;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactlabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    font-size: 20px;
 }

.menupage{
    margin: auto;
    width: 100vw;
}

.menumain{
    width: 100vw;
}

.menualt{
    display: none;
}

.entryimage{
    display: flex;
    justify-content: center;
    
}

.google{
    display: flex;
    justify-content:center;
    position: relative;
    padding: 40px;
}

.navleft{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
}

.navright{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
}


.flex-me {
    display: flex;
    flex-wrap: wrap;
    padding: 150px 100px 0px 200px;
}
.flex-me div{
    flex:1;
}

 article{
    padding: 80px;
 } 

.gallery{
    display: flex;
    flex-wrap: wrap;
   
    }
    article img{
        width: 500px;
        
    }
    .gallery article{
        flex: 25%;
    }
    
   
   
  
.footer{
    -webkit-animation: blink normal 10s infinite ease-in-out;
    width: 100vw;
    position:fixed;
    bottom:0px;
}

/*----------------------------------------------------------------------------START HOMEPAGE IMAGE SLIDER----------------------------*/

.slider-frame{
    overflow: hidden;
    height: 566px;
    width: 100vw;
    display: flex;
    position: relative;
}

/*------------- SLIDE ANIMATION----------------*/

@-webkit-keyframes slide_animation{
    0% {left: 0;}
    10% {left: 0;}
    20% {left: 100vw;}
    30% {left: 100vw;}
    40% {left: 200vw;}
    50% {left: 200vw;}
    60% {left: 100vw;}
    70% {left: 100vw;}
    80% {left: 0;}
    90% {left: 0;}
    100% {left: 0;}
}

.slide-images{
    width: 300vw;
    height: 566px;
    margin: 0 0 0 -200vw;
    position: relative;
    -webkit-animation-name:slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}



.img-container{
    display: flex;
    height: 566px;
    width: 100vw;
    position: relative;
    float: left;
    
}

/*----------------------END OF ANIIMATION----------------------*/

/*----------------------------------------------------------------------------END HOMEPAGE IMAGE SLIDER----------------------------*/

/*----------------------------------------------------------------------------START EVENTS IMAGE SLIDER----------------------------*/

.slider-frameb{
    overflow: hidden;
    height: 566px;
    width: 100vw;
    display: flex;
    position: relative;

}

/*------------- SLIDE ANIMATION----------------*/

@-webkit-keyframes slide_animation{
    0% {left: 0;}
    10% {left: 0;}
    20% {left: 100vw;}
    30% {left: 100vw;}
    40% {left: 200vw;}
    50% {left: 200vw;}
    60% {left: 100vw;}
    70% {left: 100vw;}
    80% {left: 0;}
    90% {left: 0;}
    100% {left: 0;}
}

.slide-imagesb{
    width: 300vw;
    height: 566px;
    margin: 0 0 0 -200vw;
    position: relative;
    -webkit-animation-name:slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}



.img-containerb{
    display: flex;
    height: 566px;
    width: 100vw;
    position: relative;
    float: left;
}

/*----------------------END OF ANIIMATION----------------------*/

/*----------------------------------------------------------------------------END EVENTS IMAGE SLIDER----------------------------*/

/*----------------------------------------------------------------------------MASTHEAD----------------------------*/


.title{
    padding: 0 0 120px 0;
}
.homebutton{
    position: absolute;
    top: 16px;
    left: 20px;
    padding: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: firebrick;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 600;
}


.navbar-links{
    display: flex;
    width: 100vw;
    background-color: black;
      
 }

 .navbar {
    flex-direction: column;
    
 }

 .navbar-links ul {
    width: 100vw;
    flex-direction: column;
    
 }

 .navbar-links li {
    width: 100vw;
    text-align: center;
    flex-direction: column;
 }



.navbar-links li a{
    width: 100vw;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    display: block;
    
}

.toggle-button{
    position: absolute;
    top: 18rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 40px;
}

.toggle-button .bar {
    height: 6px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}


/*----------------------------------------------------END MASTHEAD----------------------------*/


/*----------------------------------------------------MEDIA QUERY START----------------------------*/


@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media (max-width:900px) { 
    body {
       margin: auto;
    }
    
    .homebutton{
        max-width:600%;
    }


    h1 {
        margin-top: 50px;
        text-align: left;
        position: relative;
        color:azure;
        Font-Family: 'Shrikhand', Cursive;
        font-size: 60px;
        top: 40px;
        left: 280px;
        width: 300px;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        background-image: linear-gradient(#fff, #fff);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-position: -750px 0;
        animation: backcolor 5s linear infinite alternate;
      }

      h2 {
        padding: 0;
        text-align: center;
        position: relative;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight:700;
       
      }

      .flex-me {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
    }

      .gallery{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        }
        article img{
            width: auto;
            padding: 0;
            
        }
        .gallery article{
            flex: 25%;
        }
        
        article{
            padding: 40px;
        }


      p{
        text-align: center;
        margin: 0%;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        }

      p2{
            text-align: center;
            position: relative;
            color:black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 40px;
            font-weight:700;
            margin: 0px 50px 0px 0px;
           
          }

      h3 {
        text-align: center;
        position: relative;
        color:firebrick;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight:700;
        margin-bottom: 50px;
      }

      h4 {
        text-align:center;
        position: relative;
        color:firebrick;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight:700;
        padding: 0;
        margin: 0px 0px 0px 0px;
      }

      h5 {
        text-align: center;
        position: relative;
        font-size:30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 40px 50px 0px 40px;
      }

      h7{
        text-align: left;
        position: relative;
        font-size: 30px;
        font-weight: 600;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    
    

    .homebutton{
        display: flex;
        max-width: 400%;
    }

    .toggle-button{
        position: absolute;
        top: 18rem;
        right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70px;
        height: 40px;
    }
    .map{
        max-width: 100%;
     }
  
    .contactForm{
        max-width: 60%;
        
    }
     
    .nfl{
        max-width: 100%;
    }

    .candy{
        max-width: 100%;
        position:relative;
        left: 38px;
    }
   
    .entrypagelogo{
        max-width: 80%;
        align-self:  center;
        
    }

    .menumain{
        display: none;
    }
    
    .menualt{
        display: flex;
        width: 100vw;
    }

  }

  
  @media only screen and (max-width:600px){

    .homebutton{
        display: flex;
        max-width: 350%;
    }

    .toggle-button{
        position: absolute;
        top: 10rem;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60px;
        height: 40px;
    }

    h1 {
        margin: 0;
        text-align: left;
        position: relative;
        color:azure;
        Font-Family: 'Shrikhand', Cursive;
        font-size: 35px;
        font-weight: 200;
        top: 80px;
        left: 200px;
        width: 250px;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        background-image: linear-gradient(#fff, #fff);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-position: -750px 0;
        animation: backcolor 5s linear infinite alternate;
      }

  }

