
head {
    margin: 0%;
  }
  body {
    margin: 0;
    size: cover;
  }

/*----------------------------------------------------MASTHEAD----------------------------*/

.masthead{
    background-color:firebrick;
    height: 250px;
    width: 100vw;
  }

.homebutton{
    display: flex;
    position: absolute;
    top: 16px;
    left: 20px;
}

.menu, .menu-alt{
    display: flex;
    position: absolute;
    top: 177px;
    left: 900px;
}


.events, .events-alt{
    position: absolute;
    top: 177px;
    left: 1100px;
}

.contactbutton, .contact-alt{
    position: absolute;
    top: 177px;
    left: 1300px;
}

.menu-alt, .events-alt, .contact-alt{
    opacity: 0;
}

.menu-alt:hover, .events-alt:hover, .contact-alt:hover{
    opacity: 1;
}

/*----------------------------------------------------END MASTHEAD----------------------------*/


/*-----------------------TYPE SETTINGS---------------------------*/
h1 {
    margin: 0;
    text-align: left;
    position: relative;
    color:azure;
    Font-Family: 'Shrikhand', Cursive;
    font-size: 60px;
    top: 80px;
    left: 300px;
    width: 600px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }

  @keyframes backcolor{
    100%{
        background-position: 0 0;
    }
  }

  h2 {
    text-align: left;
    position: relative;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight:700;
    margin-bottom: 0px;
    padding:0 0 50px 0;
  }

  

  h3 {
    text-align: left;
    position: relative;
    color:firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight:700;
    margin-bottom: 50px;
  }

  h4 {
    text-align: center;
    position: relative;
    color:firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight:700;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
  }

  h6 {
    text-align: center;
    position: relative;
    color:azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight:700;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
  }

  h5{
    text-align: center;
    position: relative;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px 300px 0px 300px;
  }

  p2 {
    text-align: left;
    position: relative;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight:700;
    margin-bottom: 0px;
    padding:0 0 50px 0;
  }

  p {
    margin: 0%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 0px 50px 0px;
  }


/*-----------------------END TYPE SETTINGS---------------------------*/

.homepage{
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/grey_texture.png');
    background-size: cover;
    background-repeat: repeat;
}

.contactpage{
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/grey_texture.png');
    background-size: cover;
    background-repeat: repeat;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;

}

.contact .content p{
   font-size: 36px;
   font-weight:500;
}


.contactForm{
    width: 500px;
    padding: 40px;
    background-color: darkcyan;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: azure;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactlabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    font-size: 20px;
 }
/*-------------------------------------------------------------HAVING TROUBLE HERE----------------------------------*/

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .congtainer .contactInfo{
        width: 100%;
    }
}

/*-------------------------------------------------------------END TROUBLE ZONE----------------------------------*/

.specialeventspage{
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/grey_texture.png');
    background-size: cover;
    background-repeat: repeat;
}

.candyland{
    position: relative;  
  }


.menupage{
    margin: auto;
    height: 100vh;
    width: 100vw;
}

.menumain{
    width: 100vw;
}

.droppage{
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/grey_texture.png');
    background-size: cover;
    background-repeat: none;
}


.entryimage{
    display: flex;
    justify-content: center;
    
}

.google{
    display: flex;
    justify-content:center;
    position: relative;
    padding: 40px;
}

.navleft{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
}

.navright{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
}



.flex-me div {
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
.left{ 
    margin: 20px 20px 20px 80px;
  }
  .right{ 
    margin: 20px 150px 20px 20px;
  }

  .flex-me {
    padding: 50px 50px 50px 150px;
    display: flex;
    
  }

  
  
.slider-frame{
    overflow: hidden;
    height: 566px;
    width: 1200px;
    margin-left: 285px;
    margin-top: 0px;
    margin-bottom: 40px;
}

/*------------- SLIDE ANIMATION----------------*/

@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}

.slide-images{
    width: 3600px;
    height: 566px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name:slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}



.img-container{
    height: 566px;
    width: 1200px;
    position: relative;
    float: left;
    
}

/*----------------------END OF ANIIMATION----------------------*/



.slider-frameb{
    overflow: hidden;
    height: 566px;
    width: 1200px;
    margin-left: 285px;
    margin-top: 0px;
}

/*------------- SLIDE ANIMATION----------------*/

@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}

.slide-imagesb{
    width: 3600px;
    height: 566px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name:slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}



.img-containerb{
    height: 566px;
    width: 1200px;
    position: relative;
    float: left;   
}

/*----------------------END OF ANIIMATION----------------------*/

  
 
  
  
  .footer{
    -webkit-animation: blink normal 2s infinite ease-in-out;
    width: 100vw;
    position:fixed;
    bottom:0px;
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}